body {
    height: 100vh;
    margin: 0;
    background-image: url("images/whack-a-mole-background-2048-frame1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("images/whack-a-mole-background-2048-frame1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-frame1 {
    background-image: url("images/whack-a-mole-background-2048-frame1.png");
}

.background-frame2 {
    background-image: url("images/whack-a-mole-background-2048-frame2.png");
}

.background-frame3 {
    background-image: url("images/whack-a-mole-background-2048-frame3.png");
}

.background-frame4 {
    background-image: url("images/whack-a-mole-background-2048-frame4.png");
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.six-hun-square {
    width: 600px;
    height: 600px;
}

.pos-abs {
    position: absolute;
}

.left {
    left: 224px;
}

.right {
    right: 128px;
}

.row {
    display: flex;
    flex-direction: row;
}

.top {
    top: 0;
    padding: 8px;
}

.space-between {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.hole {
    display: block;
    height: 160px;
    width: 160px;
    background-image: url("images/whack-a-mole-mole-spritesheet-160.png");
    background-position: 0 160px;
}

.mole {
    background-position: 0 320px;
}

.bomb {
    background-position: 0 0;
}

.golden-mole {
    background-position: 0 -160px;
}

.pixel-words {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: xx-large;
    color: white;
    gap: 8px;
    text-shadow: 2px 2px black;
}

.info-text {
    font-size: medium;
    max-width: 700px;
    line-height: 20px;
}

.space-evenly {
    justify-content: space-evenly;
}

.d-none {
    display: none;
}

.clickable {
    cursor: pointer;
}

.selected-mode {
    text-decoration: underline;
}