.six-hun-square {
    width: 600px;
    height: 600px;
}

.left {
    left: 224px;
}

.right {
    right: 128px;
}

.row {
    display: flex;
    flex-direction: row;
}

.top {
    top: 0;
    padding: 8px;
}

.hole {
    display: block;
    height: 160px;
    width: 160px;
    background-image: url("../images/whack-a-mole-mole-spritesheet-160.png");
    background-position: 0 160px;
}

.mole {
    background-position: 0 320px;
}

.bomb {
    background-position: 0 0;
}

.golden-mole {
    background-position: 0 -160px;
}

.selected-mode {
    text-decoration: underline;
}

#leaderboard-link {
    font-size: large;
}