body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    margin: 0;
    background-image: url("../images/whack-a-mole-background-2048-frame1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body::-webkit-scrollbar {
    width: 0;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("../images/whack-a-mole-background-2048-frame1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-frame1 {
    background-image: url("../images/whack-a-mole-background-2048-frame1.png");
}

.background-frame2 {
    background-image: url("../images/whack-a-mole-background-2048-frame2.png");
}

.background-frame3 {
    background-image: url("../images/whack-a-mole-background-2048-frame3.png");
}

.background-frame4 {
    background-image: url("../images/whack-a-mole-background-2048-frame4.png");
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.pos-abs {
    position: absolute;
}

.top {
    top: 0;
    padding: 8px;
}

.bottom {
    bottom: 0;
    padding: 8px;
}

.space-between {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.gap-16 {
    gap: 16px;
}

.pixel-words {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: xx-large;
    color: white;
    gap: 8px;
    text-shadow: 2px 2px black;
}

.info-text {
    font-size: medium;
    max-width: 700px;
    line-height: 20px;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
    display: flex;
}

.d-none {
    display: none;
}

.clickable {
    cursor: pointer;
}

.text-input {
    width: 100px;
    height: 30px;
    font-size: large;
}

.button {
    width: 175px;
    height: 40px;
    font-size: small;
}

.input {
    border-style: solid;
    border-radius: 16px;
    background-color: #469420;
    font-family: 'PRESS START 2P';
    padding: 4px;
    color: white;
    text-align: center;
    border: 2px solid #28600C;
}

.home-link {
    position: absolute;
    top: 16px;
    left: 16px;
    text-decoration: underline;
    font-size: medium;
}

#leaderboard-link, #info-link {
    font-size: large;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

a:visited {
    color: white;
}

audio {
    display: none;
}

.right-corner {
    top: 0;
    right: 0;
    padding: 16px;
}

.vol-btns {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    /* need to also explicitly set the height (i.e. height: 70vh;) */
}

.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    background: #469420;           /* color of the tracking area */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #28600C;     /* color of the scroll thumb */
    border-radius: 24px;             /* roundness of the scroll thumb */
    border: 3px solid #469420;     /* creates padding around scroll thumb */
}